@model TiendaOnline.Models.Banner

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Editar</h1>
            <h4 class="card-subtitle mb-4">Banner</h4>

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BannerId" />

                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                </div>
            </form>

            
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
