@model TiendaOnline.Models.Direccion

@{
    ViewData["Title"] = "Editar";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Editar Dirección</h5>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DireccionId" />
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Dirección</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ciudad" class="form-label">Ciudad</label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Estado" class="form-label">Estado</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CodigoPostal" class="form-label">Código Postal</label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UsuarioId" class="form-label">Usuario</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
        </form>
        
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
